mixin navbar_guest()
    button#loginbtn.btn.btn-primary(type='button', data-toggle='modal', data-target='#Modal')
      | Login / Sign Up
    // Modal
    #Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#ModalLabel.modal-title.text-center Login
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(name="login",method="post",action="/login")
              p Username 
              input.form-control(type='text', name='username',placeholder='Username',required)
              P Password  
              input.form-control(type='password', name='password',placeholder='Password',required)
              p
              button.btn.btn-primary(type='submit') Login
            a#registerbtn.btn.btn-primary(role='button' href='/register') Register

mixin navbar_member(username)
    .btn-group
      button#profilebtn.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', data-display='static', aria-haspopup='true', aria-expanded='false')
        | #{username}
      .dropdown-menu.dropdown-menu-lg-right
        a.dropdown-item(href='/myprofile') My Profile
        a.dropdown-item(href='/myevent') My Event
        .dropdown-divider
        a.dropdown-item(href='/logout') Log Out

mixin navbar(currentUser)
    nav.navbar.navbar-dark.bg-dark.d-flex.justify-content-between
      a.navbar-brand.ml-4.mt-1(href='/')
        img.d-inline-block.align-top(src='/images/BlueEntry - logo.png', width='90', height='45', alt='')
      .btn-group(role='group')
        form.d-flex(name='searching', method='post', action='/search', novalidate='')
          input.form-control.mr-3(type='text', name='keyword', placeholder='Search')
          button.btn.navbar-brand(role='button')
            img.d-inline-block.align-top(src='/images/magnifying-glass-white.png', width='30', height='30', alt='')
        - if(currentUser == null){
          +navbar_guest()
        - }else{
          +navbar_member(currentUser.username)
        - }