extends ../layout.jade

block head
  title Add New Event

block body
  h1(align='center') Add New Event
  .container.bg-w.d-flex.justify-content-center
    form.row.flex-column#nevent(name="regis",method="post",action="/addevent")
        .row.form-inline
          label Event Name
          input.form-control(type='text', name='name',placeholder='Event Name')
          label(for="inputGroupSelect01") Category
          select#inputGroupSelect01(class='custom-select',name='category')
                  option(value='ComSci') Computer Science
                  option(value='Finance') Finance
                  option(value='Life') Life
                  option(value='HomeEcon') House Economics
                  option(value='Culture') Culture
                  option(value='others') Others
        .row.form-inline          
          label detail  
          input.form-control(type='text', name='detail',placeholder='Detail')
        .row.form-inline  
          label Price  
          input.form-control(type='text', name='price',placeholder='Price')
        .row.form-inline  
          label Max seat 
          input.form-control(type='text', name='seat',placeholder='Max seat')
        .row.form-inline  
          label Location
          input.form-control(type='text', name='location',placeholder='Location')
        .row.form-inline  
          label Last Date Reservable
          input.form-control(type='date', name='exp',placeholder='Last Date Reservable ')
        .row.form-inline  
          label Contact 
          input.form-control(type='text', name='contact',placeholder='ex mail or tel ')
        .row.form-inline  
          label Image Link 
          input.form-control(type='text', name='link',placeholder='Image Link')
        button.btn.btn-success(type='submit') Add Event
      