extends ../layout.jade

block head
  title List of my Event

block body
  each row in myevent
    p EventName = #{row.Ename}
    a.btn-primary(role='button' href=`/eventdetail/${row._id}`) Event Detail