body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.formcenter {
  padding:  10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
