extends ../layout.jade

block head
  title My Reserved Event

block body
  .container(style="background-color:white")
    p 
    h2(align='center') My reserved events
    p
    table.table
      thead(class="thead-dark")
        tr
          th Firstname
          th Lastname
          th Payment
          th
      tbody
        each row in myevent
          tr
            td #{row.Fname} 
            td #{row.Lname}
            td #{row.Payment}
            td 
              a.btn.btn-primary.btn-sm(role='button' href=`/reservedetail/${row._id}`) Reserve Detail