extends ../layout.jade

block head
  title My Reserved Event
  include ../mixins/table.jade

block body
    h3.mt-4(align='center') My Reserved Event
    .container(style="background-color:white;width:960px" )
      table.table
        +table("Firstname :", reserve.Fname )
        +table("Lastname :", reserve.Lname )
        +table("Address :", reserve.Address )
        +table("Tel :", reserve.Tel )
        +table("Reserver Name :", reserve.Reserver )
        +table("Payment :", reserve.Payment )
        +table("Amount :", reserve.Amount )
        +table("Reserve time :", reserve.ReserveTimestamp )
    .container(style="background-color:white;width:960px")
      table.table
        +table("Eventname :", event.Ename )
        +table("Category :", event.Category )
        +table("Detail :", event.Detail )
        +table("Price :", event.Price )
        +table("Max Seat :", event.MaxSeat )
        +table("Location :", event.Location )
        +table("Contact :", event.Contact )
    -if(reserve.Payment=="transfer"){
    .container(style="background-color:white; padding-bottom:20px;width:960px")
      div.text-center
        img(align="center" src=reserve.ImgLink,height="300",width="400")
        form(align="center" name="updateprofilepic",method="post",action='/addreceipt')
          input(type='hidden', name='id',value=reserve._id)
          input(type='text', name='link',placeholder='Picture Link',style="width:300px")
          p
          button.btn.btn-warning(type='submit') Upload Receipt Picture
    -}
    