html(lang="en")
    head
        title #{event.Ename} 
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css",integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS",crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src='/javascripts/formvalidate.js')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
        include mixins
    body
        nav.navbar.navbar-light(style='background-color: #fffefe')
            a.navbar-brand(href='/eventslist')
                img(src='/images/logo.png', width='25', height='30',class="d-inline-block align-top", alt='') 
                |   BlueEntry
        h2(align='center',class="text-danger") #{event.Ename}
        img(src='/images/defaultimage.jpg', width='200', height='500',class='center')
        form#formAddUser(name="adduser",method="post",action="/adduser",class ="needs-validation",novalidate='')
            .container(class='formcenter')
                h4(class='text-primary') Personal Information
                .form-row
                    +textinput('6','First Name','fname')
                    +textinput('6','Last Name','lname')
                .form-row
                    +textinput('6','Age','age')
                    +textinput('6','Email','email')
                .form-row
                    +textinput('12','Address','address')
            .container(class='formcenter')
                .h4(class='text-primary') Payment
                .form-row
                    +textinput('6','Card Name','cardname')
                    +textinput('6','Card Number','cardnumber')
                .form-row
                    +textinput('4','CVV','cvv','ex 123')
                    +textinput('4','EXP month','expmonth','MM')
                    +textinput('4','EXP year','expyear','YYYY')
                .form-row
                    .col-md-3
                        input(type="hidden", name='id',value=event._id)
                        button.form-control.btn.btn-primary.submit-button(type='submit') Submit
                // Modal
                #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-body
                                h4(align='center',class="text-success") Reservation Successful!
                                h6(align='center',class='text-secondary') (please wait for redirecting...)
                                    
                    