extends ../layout.jade

block head
    title Attendee Register

block body
    h1(align="center") Attendee Register
    .container.bg-w.d-flex.justify-content-center
      form(name="regis",method="post",action="/register")
          input(type='hidden',value='attendee', name='type')
          .row.flex-column#nevent
            .row.form-inline
              label Username
              input.form-control(type='text', name='username',placeholder='Username', minlength="8", maxlength="30", required)
            .row.form-inline          
              label Password 
              input.form-control(type='password', name='password',placeholder='Password', minlength="8", maxlength="30", required)
            .row.form-inline  
              label First Name  
              input.form-control(type='text', name='fname',placeholder='First Name',pattern='[A-Za-zก-ฮฯ-๐]*', required)
            .row.form-inline  
              label Last Name
              input.form-control(type='text', name='lname',placeholder='Last Name',pattern='[A-Za-zก-ฮฯ-๐]*', required)
            .row.form-inline  
              label Telephone
              input#ip.form-control(type='text', name='tel',placeholder='0xxxxxxxxx',pattern="^(([0][0-9]{8,9}))$",onkeypress='isTel(event)', minlength="9", maxlength="10", required)
            .row.form-inline  
              label Email
              input.form-control(type='email', name='email',placeholder='example@example.com', required)
            .row.form-inline  
              label Birthday
              input.form-control(type='date', name='dob',placeholder='ex 20/02/1998', required)
          .row.ml-4                   
            label.mr-5 Gender
            .custom-control.custom-radio.custom-control-inline
              input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1' checked)
              label.custom-control-label(for='customRadioInline1') Male
            .custom-control.custom-radio.custom-control-inline.ml-2
              input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1')
              label.custom-control-label(for='customRadioInline2') Female
          .col-md-10.offset-md-2
            button.btn.btn-success.btn-block(type='submit') Register