extends ../layout.jade

block head
    title Attendee Register

block body
    h1 Attendee Register
    form(name="regis",method="post",action="/register")
      p Username 
      input(type='text', name='username',placeholder='Username')
      P Password  
      input(type='text', name='password',placeholder='Password')
      input(type='hidden',value='attendee', name='type')
      P First Name  
      input(type='text', name='fname',placeholder='First Name')
      P Last Name  
      input(type='text', name='lname',placeholder='Last Name')
      P Telephone  
      input(type='text', name='tel',placeholder='ex 0xx-xxxxxxx')
      P Email 
      input(type='text', name='email',placeholder='ex 0xx-xxxxxxx')
      P Birthday
      input(type='text', name='dob',placeholder='ex 20/02/1998')
      P Gender
      label.radio-inline
        input(type='radio', name='gender', checked='')
        | Male
      label.radio-inline
        input(type='radio', name='gender')
        | Female
      p
      button(type='submit') Register