extends ../layout.jade

block head
    title Event Organizer Register

block body
    h1(align="center") Event Organizer Register
    .container.bg-w.d-flex.justify-content-center
      form.row.flex-column#nevent(name="regis",method="post",action="/register")
          input(type='hidden',value='eventorg', name='type')
          .row.form-inline
            label Username
            input.form-control(type='text', name='username',placeholder='Username')
          .row.form-inline          
            label Password 
            input.form-control(type='password', name='password',placeholder='Password')
          .row.form-inline  
            label Name  
            input.form-control(type='text', name='name',placeholder='Name')
          .row.form-inline  
            label Telephone
            input.form-control(type='text', name='tel',placeholder='ex 0xx-xxxxxxx')
          .row.form-inline  
            label Email
            input.form-control(type='email', name='email',placeholder='example@example.com')
          button.btn.btn-success(type='submit') Register