extends ../layout.jade

block head
    title Event Organizer Register

block body
    h1 Event Organizer Register
    form(name="regis",method="post",action="/register")
      p Username 
      input(type='text', name='username',placeholder='Username')
      P Password  
      input(type='text', name='password',placeholder='Password')
      input(type='hidden',value='eventorg', name='type')
      P Name  
      input(type='text', name='name',placeholder='First Name')
      P Telephone  
      input(type='text', name='tel',placeholder='ex 0xx-xxxxxxx')
      P Email 
      input(type='text', name='email',placeholder='ex 0xx-xxxxxxx')
      p
      button(type='submit') Register