extends ../layout.jade

block head
    title Event Organizer Register

block body
    h1(align="center") Event Organizer Register
    .container.bg-w.d-flex.justify-content-center
      form.row.flex-column#nevent(name="regis",method="post",action="/register")
          input(type='hidden',value='eventorg', name='type')
          .row.form-inline
            label Username
            input.form-control(type='text', name='username',placeholder='Username' required)
          .row.form-inline          
            label Password 
            input.form-control(type='password', name='password',placeholder='Password' required)
          .row.form-inline  
            label Name  
            input.form-control(type='text', name='name',placeholder='Organizer Name' required)
          .row.form-inline  
            label Telephone
            input#ip.form-control(onkeypress='isTel(event,1)' type='text', name='tel',placeholder='0xx-xxxxxxx' required)
          .row.form-inline  
            label Email
            input.form-control(type='email', name='email',placeholder='example@example.com' required)
          button.btn.btn-success.ml-5(type='submit') Register