extends ../layout.jade

block head
    title Login

block body
    h1 Login 
    form(name="login",method="post",action="/login")
      p Username 
      input(type='text', name='username',placeholder='Username')
      P Password  
      input(type='text', name='password',placeholder='Password')
      p
      button(type='submit') Login
    