extends ../layout.jade

block head
    title register
    include ../mixins/table.jade

block body
    
    h1.mt-5(align="center") Attendee or Event Organizer ?
    .container.mt-5
        .row
            .col-md-5.offset-md-1.d-flex.flex-column
                a(align="center", style="")
                    img.img-responsive(width='300',height='300',src='/images/teamwork.png')
                .col-6.offset-3.mt-5             
                    a.d-block(class="btn btn-primary",href="/attendeeregister",role="button") Attendee
            .col-md-5.offset-md-1.d-flex.flex-column
                a(align="center", style="")
                    img.img-responsive(width='300',height='300',src='/images/strategy.png')
                .col-6.offset-3.mt-5                  
                    a.d-block(class="btn btn-primary",href="/eventorgregister",role="button") Event Organizer


        