extends ../layout.jade

block head
    title register
    include ../mixins/table.jade

block body
    p
    h1(align="center") Attendee or Event Organizer ?
    .container(style="margin-top:30px") 
        table.table.borderless
            tr
                td(align="center", style="border-top:0 ;width:450px")
                    img.img-responsive(width='300',height='300',src='/images/teamwork.png')
                td(align="center", style="border-top:0 ;width:450px")
                    img.img-responsive(width='300',height='300',src='/images/strategy.png')
                    
            tr
                td(align="center", style="border-top:0 ;width:450px")
                    a(class="btn btn-primary" href="/attendeeregister" role="button") Attendee
                td(align="center", style="border-top:0 ;width:450px")
                    a(class="btn btn-primary" href="/eventorgregister" role="button") Event Organizer

        