extends ../layout.jade

block head
    title register

block body
    h1 Attendee or Event Organizer ? 
    a(class="btn btn-primary" href="/attendeeregister" role="button") Attendee
    p
    a(class="btn btn-primary" href="/eventorgregister" role="button") Event Organizer